<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Controls</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach((product) => { %>
    <tr>
      <th scope="row"><%= product.id %></th>
      <td><%= product.name %></td>
      <td><%= product.desc %></td>
      <td><%= product.price %></td>
      <td>
        <img src="<%= product.imageUrl %>" />
      </td>
      <td>
        <button type="button" class="btn btn-warning">
          <a
            style="text-decoration: none; color: rgb(92, 106, 120)"
            href="/Edit-Page/<%=product.id%>"
            >Edit</a
          >
        </button>

        <button
          type="button"
          onclick="deleteFunction('<%=product.id%>')"
          class="btn btn-danger"
        >
          Delete
        </button>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
